fastapi                # Framework pour construire l'API
uvicorn                # Serveur ASGI pour exécuter FastAPI
sqlalchemy             # ORM pour interagir avec la base de données
mysql-connector-python # Connecteur pour MySQL
pydantic               # Validation des données pour les modèles FastAPI
python-dotenv          # Chargement des variables d'environnement depuis un fichier .env
